.carousel__main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 30%;
  /* height: 300px; */
}

/* .carousel__contents {
  width: 50%;
  height: auto;
} */

/* .carousel__image {
  height: auto;
} */

/* medium devices */
@media screen and (max-width: 768px) {
}

/* small devices */
@media screen and (max-width: 350px) {
}
