.doc_footer {
  border-top: 1px solid var(--border-grey-color);
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  background-color: var(--brown-color);
}

.wrap_info {
  display: inline-flex;
  margin-top: 50px;
  padding-right: 20px;
  text-decoration: none;
  color: red;
}

.footer-link {
  color: #252525;
  text-decoration: none;
}
